@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	src: url("../fonts/Roboto-Black.woff") format("woff");
}
